.join-main{
  width: 500px;
  margin: auto;
  border: 1px solid;
  padding: 50px;
}

/* 아이디 이메일주소  */
.emailAddr{
  width: 100%;
}

.emailAddr-div{
  position: relative;
  width: 100%;
}
.emailAddr-div button{
  position: absolute;
}

/* 국적버튼 FLEX */
.nationality{
  display: flex;
  justify-content: space-between;
}
.nationality  div{
  width: 100%;
}
/* 비밀번호 */
.password{
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}
.pass{
  font-size: 0.7rem;
}
/* 이름 */

.name{
  width: 100%;
  height: 35px;
  margin-bottom: 10px;
}

/* 성별 버튼 */
.gender{
  display: flex;
  justify-content: space-between;
  
}

/* 버튼  */
.join-btn{
  background-color: white;
  width: 48%;
  height: 40px;
  cursor: pointer;
  border: 1px solid;
}

/* 클릭햇을때 */
.join-btn-action{
  background-color: #007f5e;
  color: white;
  width: 50%;
  height: 40px;
  cursor: pointer;
}

.joinBtn{
  width: 100%;
}

.city-div{
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 10px 0px;
}

.city-div > div{
  width: 100%;
}

/* 시/도 */
.city{
  width: 100%;
  height: 40px;

}
/* 구/군 */
.Province{
  width: 100%;
  height: 40px;

}

/* 휴대폰 */
.phoneNumber{
  width: 100%;
}
.phone-div{
  width: 100%;
  display: flex;
}
/* select휴대번호 +82 */
.phone{
  width: 30%;
  font-size: 0.8rem;
}
.phone-div > input{
  display: block;
  width: 70%;
}