<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- 해당 파일에 모든 쿼리문을 작성 -->
<mapper namespace="itemMapper">
    <!--카테고리-->
    <resultMap id="category" type="com.green.WhatUlsan.item.vo.CategoryVO">
        <id column="CATE_CODE" property="cateCode"/>
        <result column="CATE_NAME" property="cateName"/>
        <result column="CATE_DETAIL" property="cateDetail" />
    </resultMap>

    <!--편의시설-->
    <resultMap id="amenities" type="com.green.WhatUlsan.item.vo.AmenitiesVO">
        <id column="AMENITIES_CODE" property="amenitiesCode"/>
        <result column="AMENITIES_NAME" property="amenitiesName"/>
    </resultMap>

    <!--상품(맛집)-->
    <resultMap id="item" type="com.green.WhatUlsan.item.vo.ItemVO">
        <id column="ITEM_CODE" property="itemCode"/>
        <result column="ITEM_NAME" property="itemName"/>
        <result column="ITEM_INTRO" property="itemIntro"/>
        <result column="ITEM_AREA" property="itemArea"/>
        <result column="CATE_CODE" property="cateCode"/>
        <collection property="imgList" ofType="com.green.WhatUlsan.item.vo.ImgVO" resultMap="img" />
        <collection property="amenitiesList" resultMap="itemMapper.amenities" />
    </resultMap>

    <!--상품(맛집)해당 이미지-->
    <resultMap id="img" type="com.green.WhatUlsan.item.vo.ImgVO">
        <id column="IMG_CODE" property="imgCode"/>
        <result column="ORIGIN_FILE_NAME" property="originFileName"/>
        <result column="ATTACHED_FILE_NAME" property="attachedFileName"/>
        <result column="IS_MAIN" property="isMain"/>
        <result column="ITEM_CODE" property="itemCode"/>
    </resultMap>

    <!--카테고리 리스트 조회-->
    <select id="getCategoryList" resultMap="category">
        SELECT CATE_CODE
            , CATE_NAME
            , CATE_DETAIL
        FROM WHAT_CATEGORY;
    </select>

    <!--편의시설 리스트 조회-->
    <select id="getAmenitiesList" resultMap="amenities">
        SELECT AMENITIES_CODE
            , AMENITIES_NAME
        FROM ITEM_AMENITIES;
    </select>

    <!-- 상품 등록 -->
    <insert id="insertItem">
        INSERT INTO WHAT_ITEM(
        ITEM_CODE,
        ITEM_NAME,
        ITEM_INTRO,
        ITEM_AREA,
        CATE_CODE
        ) VALUES (
        #{itemCode}
        ,   #{itemName}
        ,   #{itemIntro}
        ,   #{itemArea}
        ,   #{cateCode}
        );
    </insert>

    <!-- 상품 이미지 등록 -->
    <insert id="insertImgs">
        INSERT INTO WHAT_REGIMG(
        ORIGIN_FILE_NAME
        , ATTACHED_FILE_NAME
        , IS_MAIN
        , ITEM_CODE
        )VALUES
        <foreach collection="imgList" item="img" separator=",">
            (
            #{img.originFileName}
            , #{img.attachedFileName}
            , #{img.isMain}
            , #{itemCode}
            )
        </foreach>
    </insert>

    <!--상품(맛집)의 해당하는 편의시설들-->
    <insert id="insertAmenities">
        INSERT INTO ITEM_AMENITIES_MAPPING(
            ITEM_CODE
            , AMENITIES_CODE
        )
        VALUES
        <foreach collection="amenitiesList" item="amenities" separator=",">
            (#{itemCode}, #{amenities.amenitiesCode})
        </foreach>
    </insert>

    <!-- 다음에 들어갈 item_code 조회 -->
    <select id="getNextItemCode" resultType="int">
        SELECT IFNULL(MAX(ITEM_CODE),0) + 1
        FROM WHAT_ITEM;
    </select>

    <!--해당하는 카테고리의 아이템 조회 + 카테고리 디테일이 있을 경우도 함께 조회-->
    <select id="getItemsByCategory" resultMap="item">
        SELECT i.ITEM_CODE
        , i.ITEM_NAME
        , i.ITEM_INTRO
        , i.ITEM_AREA
        , i.CATE_CODE
        , c.CATE_NAME
        , c.CATE_DETAIL
        , a.AMENITIES_CODE
        , a.AMENITIES_NAME
        , img.IMG_CODE
        , img.ORIGIN_FILE_NAME
        , img.ATTACHED_FILE_NAME
        , img.IS_MAIN
        FROM WHAT_ITEM i
        LEFT JOIN WHAT_CATEGORY c ON i.CATE_CODE = c.CATE_CODE
        LEFT JOIN ITEM_AMENITIES_MAPPING m ON i.ITEM_CODE = m.ITEM_CODE
        LEFT JOIN ITEM_AMENITIES a ON m.AMENITIES_CODE = a.AMENITIES_CODE
        LEFT JOIN WHAT_REGIMG img ON i.ITEM_CODE = img.ITEM_CODE
        WHERE c.CATE_NAME = #{cateName}
        <!-- 전체를 클릭했을 때는 cateDetail 조건 없이 모든 항목 조회 -->
        <if test="cateDetail != null and cateDetail != ''">
            AND c.CATE_DETAIL = #{cateDetail}
        </if>
    </select>


</mapper>































